<div class="container">
  <mat-card style="width: 95%;">
    <mat-card-content>
      <a href="https://www.instagram.com/explore/locations/698250740234496/sweet-karolines-cakes/" target="blank"><img src="/assets/IG.png"
          class="SM-icon FB"></a>
      <a href="https//www.facebook.com/pg/sweetkarolinescakes/about/" target="blank"><img src="/assets/FBicon.svg.png"
          class="SM-icon FB"></a>
      <a class="phone-email" href="tel:1(502)417-8179">(502) 417-8179</a>
      <a class="phone-email" href="mailto:sweetkarolinescakes@gmail.com">sweetkarolinescakes@gmail.com</a>
      <p class="about">
        I make cakes and other desserts for all occasions. I can even make gluten/dairy free treats! Message me for pricing. Thanks
        for checking out my page!
      </p>
      <p class="allergy">
        Allergies – Sweet Karoline's Cakes (Karoline Gardner) shall not be held responsible for nut/milk/egg/wheat allergies for
        clients or their parties. All cakes and cupcakes COULD contain traces of nut/milk/egg/wheat as it is made in the
        same area where traces of nuts/milk/eggs/wheat can be found. It is the responsibility of clients to inform their
        guests that traces of nut/milk/egg/wheat COULD be present in the cakes and cupcakes.
      </p>

    </mat-card-content>
  </mat-card>
</div>