<div class="container">
  <h1>Products and Pricing</h1>
  <div>
    <mat-card class="category-card" *ngFor="let categoryWP of categoriesWithPrices">
      <mat-card-content>
        <h3>{{categoryWP.name}}</h3>
        <mat-grid-list cols="4" rowHeight="3:1">
          <mat-grid-tile class="grid-hover" *ngFor="let flavor of categoryWP.flavors">
            <table>
              <tr>
                <td>
                  {{flavor.description}}
                </td>
              </tr>
              <tr>
                <td>
                  {{flavor.price}}
                </td>
              </tr>
            </table>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <mat-card class="category-card" *ngFor="let category of categories">
      <mat-card-content>
        <h3>{{category.name}}</h3>
        <mat-grid-list cols="4" rowHeight="6:1">
          <mat-grid-tile class="grid-hover" *ngFor="let flavor of category.flavors">
            {{flavor}}
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card-content>
    </mat-card>
    <div class="spacer"></div>
  </div>
  <app-footer></app-footer>
</div>