<div class="main-container">
  <h1> Account Details </h1>
  <mat-card>
    <mat-card-content>
      <div class="account">
        <!-- <div class="info"> -->
        <div class="details">{{firstName}} {{lastName}}</div>
        <div class="details">{{address1}}<span *ngIf="address2">, {{address2}}</span></div>
        <div class="details">{{city}}, {{state}} {{zip}}</div>
        <!-- </div> -->
        <div class="info">
          <div class="spacer">Phone</div>
          <div class="details">{{phone}}</div>
        </div>
        <div class="info">
          <div class="spacer">Email</div>
          <div class="details">{{email}}</div>
        </div>


      </div>
      <div class="order-spacer"></div>
      <div class="orders">
        <div>
          <table>
            <tr>
              <th>Order Date</th>
              <th>Fullfilment Date</th>
              <th>Order Number</th>
              <th>Price</th>
              <th>Description</th>
              <th>Payment</th>
            </tr>
            <tr *ngFor="let order of orders">
              <td>{{order.orderDate}}</td>
              <td>{{order.fullfilledDate}}</td>
              <td>{{order.orderNum}}</td>
              <td>{{order.price}}</td>
              <td>{{order.description.substring(0,10)}}...</td>
              <td *ngIf="order.payment">{{order.payment}}</td>
              <td *ngIf="!order.payment">
                  <mat-icon color="primary">add_box</mat-icon>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <div class="card-vert-spacer">

    <h2>
      <mat-icon class="card-icon">credit_card</mat-icon>Payment Methods
    </h2>
  </div>

  <mat-card class="payment-card" *ngFor="let card of cards">
    <mat-card-content>
      <div class="card-info">
        <div class="card-details">
          <mat-icon class="icon">edit</mat-icon> {{card.cardType}}
        </div>
        <div class="card-details2">****{{ card.cardNumber?.substring( (card.cardNumber.length - 4) ) }}</div>
        <div class="card-details2">{{card.expDate}}</div>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="sm-vert-spacer"></div>
  
  <div class="sm-vert-spacer"></div>
  <button mat-flat-button color="primary" (click)="addPaymentMethod()">
    <mat-icon id="bttn-icon">add_box</mat-icon>Add Payment Method
  </button>
  <div class="footer-container">

    <div class="contact-info">
      <a href="https//www.facebook.com/pg/sweetkarolinescakes/about/" target="blank"><img src="/assets/IG.png" class="SM-icon FB"></a>
      <a href="https//www.facebook.com/pg/sweetkarolinescakes/about/" target="blank"><img src="/assets/FBicon.svg.png" class="SM-icon FB"></a>
      <a class="phone-email" href="tel1(502)417-8179">(502) 417-8179</a>
      <a class="phone-email" href="mailtosweetkarolinescakes@gmail.com">sweetkarolinescakes@gmail.com</a>
    </div>

    <div class="newsletter-ft">
      <h4 class="newsletter-header-ft">Sign up for out Newsletter!</h4>
      <section class="newsletter-section">
        <mat-form-field>
          <input matInput class="input-email">
          <mat-label class="input-label-email">Email</mat-label>
        </mat-form-field>
        <button mat-flat-button class="sign-up-button" color="accent">Sign up</button>
      </section>
    </div>
  </div>

</div>