<mat-card class="card">
  <mat-card-content>
    <h3>
      <mat-icon class="card-icon">credit_card</mat-icon>Payment MethodsCredit Card
    </h3>
    <div class="credit-card">
      <mat-form-field class="order-input">
        <input matInput placeholder="Name on Card" [(ngModel)]="name">
        <mat-label>Name on Card</mat-label>
      </mat-form-field>
      <mat-form-field class="sm-input">
        <mat-select placeholder="Card Type" [(ngModel)]="cardType">
          <mat-option *ngFor="let ct of cardTypes" [value]="ct">{{ct}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="order-input">
        <input matInput minlength="16" maxlength="16" placeholder="**** **** **** 1234" [(ngModel)]="cardNumber">
        <mat-label>Card Number</mat-label>
      </mat-form-field>
      <mat-form-field class="sm-input">
        <input matInput minlength="3" maxlength="3" [(ngModel)]="cvv">
        <mat-label>CVV</mat-label>
      </mat-form-field>
      <mat-form-field class="sm-input">
        <mat-select placeholder="Exp Month" [(ngModel)]="month">
          <mat-option *ngFor="let mon of months" [value]="mon">{{mon}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="sm-input">
        <mat-select placeholder="Exp Year" [(ngModel)]="year">
          <mat-option *ngFor="let yr of years" [value]="yr">{{yr}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button mat-flat-button color="primary" (click)="submit()">Submit</button>
    <button mat-flat-button color="primary" (click)="cancel()">Cancel</button>
  </mat-card-content>
</mat-card>
<div class="address-buffer"></div>