<img class="landing-photo" src="D:/Iteration5/KarolinesCakes/assets/000.jpg">
<div class="main-container">
  <table>
    <td class="col-small">
      <h1 class="gallery-header">Cake Gallery</h1>
    </td>
    <td class="col-large">
      <mat-form-field class="cake-filter">
        <mat-select placeholder="Filter Cakes">
          <mat-option *ngFor="let type of cakeTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </table>
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/1.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/.png1')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/2.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/2.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/3.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/3.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/4.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/4.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/5.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/5.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/6.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/6.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/7.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/7.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/8.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/8.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/9.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/9.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/10.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/10.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/11.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/11.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/12.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/12.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/13.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/13.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/14.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/14.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/15.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/15.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/16.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/17.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/.png1')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/18.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/2.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/19.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/3.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/20.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/4.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/21.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/5.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/22.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/6.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/23.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/7.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/24.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/8.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/25.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/9.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/26.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/10.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/27.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/11.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/28.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/12.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/29.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/13.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/30.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/14.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/31.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/15.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/32.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/33.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/34.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/10.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/35.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/11.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/36.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/12.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/37.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/13.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/38.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/14.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/39.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/15.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/40.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/41.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/42.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/43.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
</div>
<app-footer></app-footer>