<div class="main-container">
  <img class="landing-photo" src="D:/Iteration5/KarolinesCakes/assets/000.jpg">
  <table>
    <td class="col-small">
      <h1 class="gallery-header">Cake Gallery</h1>
    </td>
    <td class="col-large">
      <mat-form-field class="cake-filter">
        <mat-select placeholder="Filter Cakes">
          <mat-option *ngFor="let type of cakeTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </table>
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/1.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/.png1')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/2.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/2.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/3.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/3.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/4.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/4.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/5.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/5.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/6.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/6.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/7.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/7.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/8.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/8.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/9.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/9.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/10.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/10.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/11.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/11.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/12.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/12.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/13.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/13.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/14.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/14.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/15.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/15.png')" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/16.png" (click)="enlargeImg('D:/Iteration5/KarolinesCakes/assets/16.png')" alt="oops">
</div>
<app-footer></app-footer>