<div class="main-container">
  <img class="landing-photo" src="D:/Iteration5/KarolinesCakes/assets/LandingPageHeader.jpg">
  <table>
    <td class="col-small">
      <h1 class="gallery-header">Cake Gallery</h1>
    </td>
    <td class="col-large">
      <mat-form-field class="cake-filter">
        <mat-select placeholder="Filter Cakes">
          <mat-option *ngFor="let type of cakeTypes" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
    </td>
  </table>
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/1" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/1)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/2" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/2)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/3" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/3)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/4" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/4)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/5" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/5)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/6.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/6)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/7.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/7)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/8.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/8)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/9.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/9)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/10.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/10)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/11.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/11)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/12.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/12)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/13.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/13)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/14.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/14)" alt="oops">
<img class="cake-img" src="D:/Iteration5/KarolinesCakes/assets/15.png" (click)="enlargeImg(D:/Iteration5/KarolinesCakes/assets/15)" alt="oops">
</div>
<app-footer></app-footer>