<div class="main-container">
  <h1 class="form-header">Order Request Form</h1>
  <mat-card>
    <mat-card-content>

      <div class="order-form">
        <mat-form-field class="order-input name-input">
          <mat-label>First Name</mat-label>
          <input matInput placeholder="First" required>
        </mat-form-field>

        <mat-form-field class="order-input name-input">
          <mat-label>Last Name</mat-label>
          <input matInput placeholder="Last" required>
        </mat-form-field>

        <mat-form-field class="order-input">
          <mat-label>Phone</mat-label>
          <input matInput placeholder="(502)123-4567" type="tel" required>
        </mat-form-field>

        <mat-form-field class="order-input">
          <input matInput placeholder="your@email.com" type="email" required>
          <mat-label>E-mail</mat-label>
        </mat-form-field>

        <mat-form-field class="order-input">
          <input matInput [matDatepicker]="picker" placeholder="Choose a date" [min]="minDate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="newsletter">
        <h4 class="newsletter-header">Get Baking Tips and Recipes!</h4>
        <mat-checkbox color="primary" [(ngModel)]="newsletter">
          sign up for newsletter
        </mat-checkbox>
      </div>

    </mat-card-content>
  </mat-card>

  <div class="order-radio">
    <mat-radio-group [(ngModel)]="deliveryType" (change)="deliveryChange()" required>
      <mat-radio-button color="primary" class="order-input" value="delivery"> Delivery </mat-radio-button>
      <mat-radio-button color="primary" class="order-input" value="pickup"> Pickup </mat-radio-button>
      <mat-radio-button color="primary" class="order-input" value="undecided"> Undecided </mat-radio-button>
    </mat-radio-group>
  </div>

  <!-- <div > -->
  <mat-card *ngIf="showAddress">
    <mat-card-content>
      <mat-form-field class="large-input">
        <input matInput placeholder="Address" [disabled]="!showAddress" required>
        <mat-label>Address Line 1</mat-label>
      </mat-form-field>
      <mat-form-field class="large-input">
        <input matInput placeholder="Apartment" [disabled]="!showAddress">
        <mat-label>Address Line 2</mat-label>
      </mat-form-field>
      <div class="city-state-zip">
        <mat-form-field class="order-input">
          <input matInput placeholder="City" [disabled]="!showAddress" required>
          <mat-label>City</mat-label>
        </mat-form-field>
        <mat-form-field>
          <mat-select placeholder="State" [disabled]="!showAddress" required>
            <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="order-input">
          <input matInput placeholder="zip-code" [disabled]="!showAddress" required>
          <mat-label>Zip</mat-label>
        </mat-form-field>
      </div>
    </mat-card-content>
  </mat-card>
  <div class="address-buffer"></div>
  <!-- </div> -->


  <mat-card class="last-card">
    <mat-card-content>

      <mat-form-field class="order-input servings-input">
        <mat-select placeholder="Serving Size" required>
          <mat-option *ngFor="let serv of servings" [value]="servings">{{serv}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="order-input tier-input">
        <mat-select placeholder="Tier Count" required>
          <mat-option *ngFor="let tier of tiers" [value]="tierCount">{{tier}}</mat-option>
        </mat-select>
      </mat-form-field>

      $
      <mat-form-field class="budget-input">
        <input matInput placeholder="100.00">
        <mat-label>Budget</mat-label>
      </mat-form-field>

      <mat-form-field *ngIf=!glutenFree class="order-input">
        <mat-select placeholder="Cake flavors" required>
          <mat-optgroup *ngFor="let group of flavorGroups" [label]="group.name">
            <mat-option *ngFor="let flavor of group.flavors" [value]="group.flavors">{{flavor}}</mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="order-input">
        <mat-select placeholder="Cake Filling">
          <mat-option *ngFor="let filling of fillings" [value]="filling">{{filling}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="order-input">
        <mat-select placeholder="Frosting Flavor" required>
          <mat-option *ngFor="let frosting of frostings" [value]="frosting">{{frosting}}</mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="order-input comments">
        <mat-label>Comments</mat-label>
        <textarea matInput placeholder="Tell us about your cake, or just say hello"></textarea>
      </mat-form-field>

      <div class="center clear-both">
        <file-drop headertext="Drop files here" (onFileDrop)="dropped($event)">
          <span><mat-icon>photo</mat-icon></span>
        </file-drop>
        <div class="upload-table">
          <table class="table">
            <thead>
              <tr>
                <th></th>
              </tr>
            </thead>
            <tbody class="upload-name-style">
              <tr *ngFor="let item of files; let i=index">
                <td>{{ item.relativePath }}</td>
                <td>
                  <mat-icon (click)="deleteImg(item)">cancel</mat-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </mat-card-content>
  </mat-card>
  <div class="address-buffer"></div>

  <mat-card>
    <mat-card-content>
      <h3>Pay with PayPal</h3>
      <a href="https://www.paypal.com/us/signin" target="blank">
        <img src="E:/Iteration2/KarolinesCakes/assets/pp.png">
      </a>
    </mat-card-content>
  </mat-card>
  <div class="address-buffer"></div>

  <!--FOOTER -->

  <div class="footer-container">

    <div class="contact-info">
      <a href="https://www.facebook.com/pg/sweetkarolinescakes/about/" target="blank"><img src="E:/Iteration2/KarolinesCakes/assets/IG.png"
          class="SM-icon FB"></a>
      <a href="https://www.facebook.com/pg/sweetkarolinescakes/about/" target="blank"><img src="E:/Iteration2/KarolinesCakes/assets/FBicon.svg.png"
          class="SM-icon FB"></a>
      <a class="phone-email" href="tel:1(502)417-8179">(502) 417-8179</a>
      <a class="phone-email" href="mailto:sweetkarolinescakes@gmail.com">sweetkarolinescakes@gmail.com</a>
    </div>

    <div class="newsletter-ft">
      <h4 class="newsletter-header-ft">Sign up for out Newsletter!</h4>
      <section class="newsletter-section">
        <mat-form-field>
          <input matInput class="input-email">
          <mat-label class="input-label-email">Email</mat-label>
        </mat-form-field>
        <button mat-flat-button class="sign-up-button" color="accent">Sign up</button>
      </section>
    </div>
  </div>